/* =======================================================
  Template Name: Dev Template
  Author Name: Tariqul Islam
  Author Url: metariqul91@gmail.com
============================================================*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
/*
  $shadow-color: red;  // could also be a #F9F8F6 type color
  @include box-shadow(0 0px 12px rgba($shadow-color, .9));
*/
/*
h1 { @include heading-1; }
h2 { @include heading-2; }
h3 { @include heading-3; }
h4 { @include heading-4; }
.sidebar h2 { @include heading-4; }
*/
/* ======================================
1.2 FONTS FOR THEME
========================================*/
body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
  color: #1C1C1C;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

a {
  color: #1C1C1C;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-decoration: none; }
  a:focus, a:hover {
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    color: #1C1C1C; }

h3 {
  font-size: 18px;
  line-height: 1.3; }

input,
textarea {
  color: #1C1C1C;
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #e0e1e5;
  background: #fff; }
  input:focus,
  textarea:focus {
    outline: 0 none; }

img,
figure {
  max-width: 100%;
  object-fit: cover;
  margin: 0px;
  vertical-align: middle; }

/*===============================================
2. Common Style
 ===============================================*/
.section-padding {
  padding: 50px 0px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-padding {
      padding: 40px 0; } }
  @media only screen and (max-width: 767px) {
    .section-padding {
      padding: 35px 0px; } }

.section-title {
  font-size: 32px;
  color: #fff;
  text-transform: capitalize; }
  @media only screen and (max-width: 767px) {
    .section-title {
      font-size: 30px; } }

.sub-title {
  font-size: 40px;
  margin-bottom: 25px; }

.custom-btn {
  display: inline-block;
  padding: 10px 30px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  background: #E6410D;
  font-weight: 700; }
  .custom-btn:hover, .custom-btn:focus, .custom-btn:visited {
    color: #fff; }

.hero-section .hero-bg {
  padding: 225px 0;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 767px) {
    .hero-section .hero-bg {
      padding: 100px 0; } }

.owl-dots {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%); }
  .owl-dots .owl-dot {
    display: inline-block; }
    .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: rgba(0, 0, 0, 0.31);
      display: block;
      backface-visibility: visible;
      transition: opacity .2s ease;
      border-radius: 30px; }
    .owl-dots .owl-dot.active span,
    .owl-dots .owl-dot :hover span {
      background: rgba(0, 0, 0, 0.8); }

/* #Navigation
================================================== */
.primary-navigation {
  position: absolute;
  background-color: transparent;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0; }
  .navbar-toggler:active, .navbar-toggler:focus {
    outline: none;
    box-shadow: none; }

.navbar-light .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 1px solid #fff;
  transition: all 300ms linear; }

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 1px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear; }

.navbar-light .navbar-toggler-icon:after {
  top: 8px; }

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg); }

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg); }

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent; }

.navbar {
  padding: 0; }
  .navbar .nav-item {
    padding-right: 20px; }
    .navbar .nav-item:last-child {
      padding-right: 0; }
    .navbar .nav-item .nav-link {
      color: #fff;
      position: relative;
      padding: 10px 15px;
      font-size: 15px;
      display: inline-block;
      font-weight: 700;
      text-transform: uppercase;
      transition: all 300ms linear; }
      .navbar .nav-item .nav-link::after {
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 100%;
        height: 3px;
        content: '';
        background-color: #F2C700;
        opacity: 0;
        transition: all 200ms linear; }
      @media only screen and (max-width: 767px) {
        .navbar .nav-item .nav-link {
          padding: 15px; } }
      .navbar .nav-item .nav-link.active, .navbar .nav-item .nav-link:hover {
        color: #fff; }
      .navbar .nav-item .nav-link.active::after {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100); }
    .navbar .nav-item:hover:after {
      bottom: 0;
      opacity: 1; }
    .navbar .nav-item .dropdown-menu {
      padding: 10px;
      margin: 0;
      font-size: 13px;
      letter-spacing: 1px;
      color: #212121;
      background-color: #e6e1ec;
      border: none;
      border-radius: 3px;
      box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
      transition: all 200ms linear;
      transform: translate3d(0, 10px, 0);
      visibility: hidden;
      opacity: 0;
      max-height: 0;
      display: block;
      padding: 0;
      margin: 0;
      transition: all 200ms linear; }
      .navbar .nav-item .dropdown-menu .dropdown-item {
        padding: 3px 15px;
        color: #212121;
        border-radius: 2px;
        transition: all 200ms linear; }
        .navbar .nav-item .dropdown-menu .dropdown-item:hover, .navbar .nav-item .dropdown-menu .dropdown-item:focus {
          color: #fff;
          background-color: rgba(129, 103, 169, 0.6); }
    .navbar .nav-item.show .dropdown-menu {
      opacity: 1;
      visibility: visible;
      max-height: 999px;
      transform: translate3d(0, 0px, 0); }
  .navbar .dropdown-toggle::after {
    display: none; }

.scroll-on .navbar .nav-item .nav-link {
  padding: 10px 15px; }

.footer {
  background: #1C1C1C;
  padding: 20px 0; }

.footer-widget ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }
  .footer-widget ul li {
    padding-bottom: 10px; }
    .footer-widget ul li a {
      color: #fff; }
      .footer-widget ul li a:hover {
        color: #F2C700; }

.footer-widget.contact-widget {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .footer-widget.contact-widget .f-logo,
  .footer-widget.contact-widget p {
    padding: 10px; }
  .footer-widget.contact-widget p {
    width: 40%; }
  .footer-widget.contact-widget .f-logo {
    width: 20%; }
  .footer-widget.contact-widget p {
    color: #fff;
    max-width: 70%; }

.footer-widget .custom-btn {
  background: #F2C700;
  color: #1C1C1C;
  font-size: 16px;
  padding: 7px 22px; }

.footer-widget.social-widget {
  text-align: center; }
  .footer-widget.social-widget li {
    display: inline-block;
    margin-right: 25px; }
    .footer-widget.social-widget li span {
      display: table;
      width: 27px;
      height: 27px;
      text-align: center;
      background: #fff;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      border-radius: 7px;
      margin: 0 auto 5px;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
      .footer-widget.social-widget li span i {
        color: #1C1C1C;
        display: table-cell;
        vertical-align: middle;
        font-size: 14px;
        transition: .45s; }
    .footer-widget.social-widget li:hover span {
      background: #F2C700; }
      .footer-widget.social-widget li:hover span i {
        color: #fff; }

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: stretch; }
  .footer-nav > div {
    width: 33.33%;
    padding: 0 10px; }
    .footer-nav > div:first-child {
      width: 25%; }

.single-entry {
  background: #F2C700; }
  .single-entry .entry-content {
    padding: 0px 85px 20px; }
    .single-entry .entry-content .entry-title {
      line-height: 1.1;
      font-size: 60px;
      margin-bottom: 25px; }
      .single-entry .entry-content .entry-title span {
        display: block;
        margin-bottom: 10px; }
        .single-entry .entry-content .entry-title span img {
          width: auto; }
    .single-entry .entry-content p {
      margin-bottom: 40px; }

.post-entry {
  background: #F2C700;
  margin-bottom: 30px;
  min-height: 415px; }
  .post-entry .post-img {
    overflow: hidden; }
    .post-entry .post-img img {
      transform: scale(1);
      transition: .6s ease-in;
      width: 100%; }
  .post-entry:hover .post-img img {
    transform: scale(1.2); }
  .post-entry .post-content {
    padding: 15px 20px 0; }
    .post-entry .post-content .post-meta span {
      font-size: 16px; }
    .post-entry .post-content h3 {
      font-size: 25px;
      margin-bottom: 5px; }
    .post-entry .post-content p {
      font-size: 16px; }

.contact-section {
  background: #F2C700; }

.contact-txt {
  max-width: 85%;
  padding-top: 30px; }
  .contact-txt h1 {
    font-size: 77px; }
    .contact-txt h1 span {
      padding-left: 30px; }

.contact-form p {
  text-align: right; }

.contact-form form .form-group {
  margin-bottom: 25px; }
  .contact-form form .form-group input,
  .contact-form form .form-group select,
  .contact-form form .form-group textarea {
    border: none;
    width: 100%;
    padding: 8px 20px;
    height: 50px;
    color: #1C1C1C; }
  .contact-form form .form-group textarea {
    height: 200px; }
  .contact-form form .form-group select {
    color: rgba(0, 0, 0, 0.55); }

.contact-form form button.custom-btn {
  width: 100%;
  border: none;
  background: #dedede;
  font-size: 30px;
  padding: 15px; }

.about-section {
  background: #F2C700; }
  .about-section .about-heading h1 {
    font-size: 140px;
    line-height: 1; }
    .about-section .about-heading h1 span {
      float: right;
      margin-right: 75px; }
  .about-section .about-content ul li {
    font-weight: 700;
    margin-bottom: 15px; }

.gallery-section {
  overflow: hidden; }

.gl-item {
  height: 360px; }
  .gl-item img {
    height: 100%;
    width: 100%; }
  .gl-item.sh-item {
    height: 180px; }
  .gl-item.sh2-item {
    height: 540px; }
  .gl-item.sw-item {
    height: 180px; }

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .post-entry {
    min-height: 395px; }
  .single-entry .entry-content {
    padding: 0px 55px 20px; }
    .single-entry .entry-content .entry-title {
      font-size: 45px; }
    .single-entry .entry-content p {
      margin-bottom: 30px; }
  .owl-dots {
    bottom: 0; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-entry .entry-content {
    padding: 0px 30px 20px; }
    .single-entry .entry-content .entry-title {
      font-size: 30px; }
    .single-entry .entry-content p {
      margin-bottom: 20px;
      font-size: 15px; }
    .single-entry .entry-content .custom-btn {
      font-size: 18px;
      padding: 8px 20px; }
  .owl-dots {
    bottom: 0;
    left: 58%; }
  .post-entry {
    min-height: 480px; }
  .contact-txt h1 {
    font-size: 48px; }
  .footer-widget.social-widget {
    margin-top: 30px; }
  .footer-widget.contact-widget .f-logo {
    width: auto; }
  .footer-widget.contact-widget p {
    width: auto; }
  .footer-widget.contact-widget p {
    max-width: 100%; } }

@media only screen and (max-width: 767px) {
  a.navbar-brand img {
    height: 45px; }
  .primary-navigation {
    position: absolute;
    background-color: #1C1C1C;
    opacity: .8; }
  .single-entry {
    background: none; }
    .single-entry.row {
      display: flex;
      flex-flow: column-reverse; }
    .single-entry .entry-content {
      padding: 20px;
      background: #F2C700; }
      .single-entry .entry-content .entry-title {
        font-size: 28px;
        padding-left: 50px;
        position: relative;
        margin-bottom: 0; }
        .single-entry .entry-content .entry-title span {
          position: absolute;
          left: 0;
          top: 10px;
          transform: rotate(-90deg); }
          .single-entry .entry-content .entry-title span img {
            width: 45px; }
      .single-entry .entry-content p,
      .single-entry .entry-content .custom-btn {
        display: none; }
    .single-entry .owl-dots {
      display: none; }
  .post-entry {
    min-height: 475px; }
  .footer-widget {
    margin-bottom: 30px;
    padding: 0; }
  .footer-widget.contact-widget .f-logo,
  .footer-widget.contact-widget p {
    padding: 0; }
  .footer-widget .custom-btn {
    padding: 7px 14px;
    font-size: 14px; }
  .footer-nav > div:first-child {
    width: auto; }
  .hero-section .hero-bg {
    background-size: cover; }
  .contact-txt h1 {
    font-size: 50px; }
  .footer-nav > div {
    width: 33.33%;
    padding: 0 5px; }
  .contact-txt {
    max-width: 100%; }
    .contact-txt h1 span {
      padding-left: 20px; }
      .contact-txt h1 span img {
        transform: rotate(90deg);
        width: 45px; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .single-entry .entry-content {
    padding: 35px; }
    .single-entry .entry-content .entry-title {
      font-size: 50px; }
  a.navbar-brand img {
    height: 65px; }
  .post-entry {
    min-height: 425px; } }
