.about-section {
    background: $theme-color;

    .about-heading {
        h1 {
            font-size: 140px;
            line-height: 1;

            span {
                float: right;
                margin-right: 75px;
            }
        }
    }

    .about-content {
        ul {
            li {
                font-weight: 700;
                margin-bottom: 15px;
            }
        }
    }
}

.gallery-section {
    overflow: hidden;
}

.gl-item {
    height: 360px;

    img {
        height: 100%;
        width: 100%;
    }

    &.sh-item {
        height: 180px;
    }

    &.sh2-item {
        height: 540px;
    }

    &.sw-item {
        height: 180px;
    }
}