.single-entry{
    background: $theme-color;
    .entry-content{
        padding: 0px 85px 20px;
        .entry-title{
            line-height: 1.1;
            font-size: 60px;
            margin-bottom: 25px;
            span{
                display: block;
                margin-bottom: 10px;
                img{
                    width: auto;
                }
            }
        }
        p{
            margin-bottom: 40px;
        }
    }
}
.post-entry{
    background: $theme-color;
    margin-bottom: 30px;
    min-height: 415px;
    .post-img{
        overflow: hidden;
        img{
            transform: scale(1);
           transition: .6s ease-in;
           width: 100%;
        }
    }
    &:hover .post-img img{
        transform: scale(1.2);
    }
    .post-content{
        padding: 15px 20px 0;
        .post-meta {
            span{
                font-size: 16px;
            }
        }
        h3{
            font-size: 25px;
            margin-bottom: 5px;
        }
        p{
            font-size: 16px;
        }
    }
}