.contact-section {
    background: $theme-color;
}

.contact-txt {
    max-width: 85%;
    padding-top: 30px;

    h1 {
        font-size: 77px;
        span{
            padding-left: 30px;
        }
    }
}

.contact-form {
    p {
        text-align: right;
    }

    form {
        .form-group {
            margin-bottom: 25px;

            input,
            select,
            textarea {
                border: none;
                width: 100%;
                padding: 8px 20px;
                height: 50px;
                color: $color;
            }

            textarea {
                height: 200px;
            }

            select {
                color: rgba(0, 0, 0, .55);
            }
        }

        button.custom-btn {
            width: 100%;
            border: none;
            background: #dedede;
            font-size: 30px;
            padding: 15px;
        }
    }
}