.footer {
    background: $color;
    padding: 20px 0;
}

.footer-widget {
    ul {
        @include list-clear;

        li {
            padding-bottom: 10px;

            a {
                color: $brand-white;
                &:hover{
                    color: $theme-color;
                }
            }
        }
    }


    &.contact-widget {
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-between;
        .f-logo,
        p {
            padding: 10px;
        }

        p {
            width: 40%;
        }

        .f-logo {
            width: 20%;
        }

        p {
            color: $brand-white;
            max-width: 70%;
        }
    }

    .custom-btn {
        background: $theme-color;
        color: $color;
        font-size: 16px;
        padding: 7px 22px;
    }

    &.social-widget {

        text-align: center;

        li {
            display: inline-block;
            margin-right: 25px;
            span {
                display: table;
                width: 27px;
                height: 27px;
                text-align: center;
                background: $brand-white;
                @include border-radius(7px);
                margin: 0 auto 5px;
                @include transition();
                i {
                    color: $color;
                    display: table-cell;
                    vertical-align: middle;
                    font-size: 14px;
                    transition: .45s;
                }
            }
            &:hover span {
                background: $theme-color;
                i{
                    color: $brand-white;
                }
            }
        }
    }
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;

    >div {
        width: 33.33%;
        padding: 0 10px;

        &:first-child {
            width: 25%;
            
        }
    }
}