/* #Navigation
================================================== */
.primary-navigation {
    position: absolute;
    background-color: transparent;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    @include transition();
}

.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;

    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #fff;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #fff;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.navbar {
    padding: 0;
    .nav-item {
        padding-right: 20px;
        &:last-child{
            padding-right: 0;
        }
        .nav-link {
            color: $brand-white;
            position: relative;
            padding: 10px 15px;
            font-size: 15px;
            display: inline-block;
            font-weight: 700;
            text-transform: uppercase;
            transition: all 300ms linear;
            &::after {
                position: absolute;
                bottom: 5px;
                left: 0;
                width: 100%;
                height: 3px;
                content: '';
                background-color: $theme-color;
                opacity: 0;
                transition: all 200ms linear;
            }
            @media #{$small_device} {
                padding: 15px;
            }
            &.active,&:hover{
                color: #fff;
            }
            &.active::after{
                @include opacity(1);
            }
        }

        &:hover:after {
            bottom: 0;
            opacity: 1;
        }

        .dropdown-menu {
            padding: 10px;
            margin: 0;
            font-size: 13px;
            letter-spacing: 1px;
            color: #212121;
            background-color: #e6e1ec;
            border: none;
            border-radius: 3px;
            box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
            transition: all 200ms linear;
            transform: translate3d(0, 10px, 0);
            visibility: hidden;
            opacity: 0;
            max-height: 0;
            display: block;
            padding: 0;
            margin: 0;
            transition: all 200ms linear;

            .dropdown-item {
                padding: 3px 15px;
                color: #212121;
                border-radius: 2px;
                transition: all 200ms linear;

                &:hover,
                &:focus {
                    color: #fff;
                    background-color: rgba(129, 103, 169, .6);
                }

            }
        }

        &.show .dropdown-menu {
            opacity: 1;
            visibility: visible;
            max-height: 999px;
            transform: translate3d(0, 0px, 0);
        }

    }


    .dropdown-toggle::after {
        display: none;
    }
}

.scroll-on .navbar .nav-item .nav-link {
    padding: 10px 15px;
}