@media #{$medium_device} {
    .post-entry {
        min-height: 395px;
    }

    .single-entry .entry-content {
        padding: 0px 55px 20px;

        .entry-title {
            font-size: 45px;
        }

        p {
            margin-bottom: 30px;
        }


    }

    .owl-dots {
        bottom: 0;
    }
}

@media #{$tab_device} {
    .single-entry {
        .entry-content {
            padding: 0px 30px 20px;

            .entry-title {
                font-size: 30px;
            }

            p {
                margin-bottom: 20px;
                font-size: 15px;
            }

            .custom-btn {
                font-size: 18px;
                padding: 8px 20px;
            }
        }
    }

    .owl-dots {
        bottom: 0;
        left: 58%;
    }

    .post-entry {
        min-height: 480px;

    }

    .contact-txt h1 {
        font-size: 48px;
    }

    .footer-widget.social-widget {
        margin-top: 30px;
    }

    .footer-widget.contact-widget .f-logo {
        width: auto;
    }

    .footer-widget.contact-widget p {
        width: auto;
    }

    .footer-widget.contact-widget p {
        max-width: 100%;
    }
}

@media #{$small_device} {
    a.navbar-brand img {
        height: 45px;
    }

    .primary-navigation {
        position: absolute;
        background-color: $color;
        opacity: .8;

    }

    .single-entry {
        background: none;

        &.row {
            display: flex;
            flex-flow: column-reverse;
        }

        .entry-content {
            padding: 20px;
            background: $theme-color;

            .entry-title {
                font-size: 28px;
                padding-left: 50px;
                position: relative;
                margin-bottom: 0;

                span {
                    position: absolute;
                    left: 0;
                    top: 10px;
                    transform: rotate(-90deg);

                    img {
                        width: 45px;
                    }
                }
            }

            p,
            .custom-btn {
                display: none;
            }
        }

        .owl-dots {
            display: none;
        }
    }

    .post-entry {
        min-height: 475px;
    }

    .footer-widget {
        margin-bottom: 30px;
        padding: 0;
    }

    .footer-widget.contact-widget .f-logo,
    .footer-widget.contact-widget p {
        padding: 0;
    }

    .footer-widget .custom-btn {
        padding: 7px 14px;
        font-size: 14px;
    }

    .footer-nav>div:first-child {
        width: auto;
    }

    .hero-section .hero-bg {
        background-size: cover;
    }

    .contact-txt h1 {
        font-size: 50px;
    }

    .footer-nav>div {
        width: 33.33%;
        padding: 0 5px;
    }

    .contact-txt {
        max-width: 100%;

        h1{
            span {
                padding-left: 20px;
    
                img {
                    transform: rotate(90deg);
                    width: 45px;
                }
            }
        }
    }
    
}

@media #{$wide_device} {
    .single-entry .entry-content {
        padding: 35px;

        .entry-title {
            font-size: 50px;
        }
    }
    
    a.navbar-brand img {
        height: 65px;
    }

    .post-entry {
        min-height: 425px;
    }
}