/*===============================================
2. Common Style
 ===============================================*/


.section-padding {
    padding: 50px 0px;

    @media #{$tab_device} {
        padding: 40px 0;
    }

    @media #{$small_device} {
        padding: 35px 0px;
    }

}

.section-title {
    font-size: 32px;
    color: $brand-white;
    text-transform: capitalize;

    @media #{$small_device} {
        font-size: 30px;
    }
}

.sub-title {
    font-size: 40px;
    margin-bottom: 25px;
}

.custom-btn {
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
    color: $brand-white;
    font-size: 22px;
    background: $hover-color;
    font-weight: 700;

    &:hover,
    &:focus,
    &:visited {
        color: $brand-white;
    }


}

.hero-section {
    .hero-bg {
        padding: 225px 0;
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;

        @media #{$small_device} {
            padding: 100px 0;
        }
    }

}

.owl-dots {
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    .owl-dot {
        display: inline-block;

        span {
            width: 10px;
            height: 10px;
            margin: 5px 7px;
            background: rgba(0, 0, 0, 0.31);
            ;
            display: block;
            backface-visibility: visible;
            transition: opacity .2s ease;
            border-radius: 30px;
        }

        &.active span,
        :hover span {
            background: rgba(0, 0, 0, .8);
            ;
        }
    }
}