// Template Base

/* ======================================
1.2 FONTS FOR THEME
========================================*/

body {
  font-family: $font;
  background-color: $brand-white;
  color: $color;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color: $color;
  @include transition;
  text-decoration: none;
  &:focus,
  &:hover {
    text-decoration: none;
    @include transition;
    color: $color;
  }
}

h3 {
  font-size: 18px;
  line-height: 1.3;
}

input,
textarea {
  color: $color;
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #e0e1e5;
  background: $brand-white;
  &:focus{
    outline: 0 none;
  }
}

img,
figure {
  max-width: 100%;
  object-fit: cover;
  margin: 0px;
  vertical-align: middle;
}
