$font:  'Inter', sans-serif;
// Color Variables
$color:  #1C1C1C;
$theme-color: #F2C700;
$hover-color: #E6410D;
$brand-black: #000;
$brand-white: #fff;

// Responsive Variables
$large_device: 'only screen and (min-width: 1400px) and (max-width: 1920px)';
$medium_device: 'only screen and (min-width: 992px) and (max-width: 1200px)';
$tab_device: 'only screen and (min-width: 768px) and (max-width: 991px)' ;
$small_device: 'only screen and (max-width: 767px)' ;
$wide_device: 'only screen and (min-width: 480px) and (max-width: 767px)' ;



